Epl.IOS/Web References/epls/.xsd

<?xml version="1.0"?><xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import schemaLocation="http://115.29.166.9:8733/MonitorBk/EnjoyPubLibService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" /><xs:element name="SubmitMonitorWork"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="dtk" nillable="true" type="xs:string" /><xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bookisbn" nillable="true" type="q1:ArrayOfstring" /><xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="booknames" nillable="true" type="q2:ArrayOfstring" /></xs:sequence></xs:complexType></xs:element><xs:element name="SubmitMonitorWorkResponse"><xs:complexType><xs:sequence /></xs:complexType></xs:element><xs:element name="UpdateUserNotify"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="dtk" nillable="true" type="xs:string" /><xs:element minOccurs="0" name="oldtk" nillable="true" type="xs:string" /><xs:element minOccurs="0" name="appectnews" type="xs:boolean" /></xs:sequence></xs:complexType></xs:element><xs:element name="UpdateUserNotifyResponse"><xs:complexType><xs:sequence /></xs:complexType></xs:element><xs:element name="GetBookISBNList"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="passkey" nillable="true" type="xs:string" /></xs:sequence></xs:complexType></xs:element><xs:element name="GetBookISBNListResponse"><xs:complexType><xs:sequence><xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetBookISBNListResult" nillable="true" type="q3:ArrayOfstring" /></xs:sequence></xs:complexType></xs:element></xs:schema>